html {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 15%;
}

main {
  display: flex;
  margin: 25px 0;
}

.menu {
  flex: 2;
}

footer {
  text-align: center;
}

.ais-Pagination {
  margin-bottom: 25px;
}

.results {
  flex: 9;
}

.hit {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hit-actions {
  display: flex;
}

.hit-content {
  padding: 0px 10px;
  margin-top: 20px;
}

.hit-picture img {
  width: 250px;
  height: 150px;
}

.hit-type {
  color: #888888;
  font-size: 13px;
}
.hit-title {
  font-weight: 700;
  font-size: 18px;
}
.hit-category {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}
